{
font-size: x-large;
border:3px solid whitesmoke;

}
/*Class selector*/ 
/*Selects all elements that have the given class attribute.*/
.highlightme 
{
     background-color:rgb(255, 255, 255);
     }


address {
    font-family: "GeoEditRegular","Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Helvetica,Arial,sans-serif;
    color:#27e64b;
    font-size:small;
}
address::after
{
content: "  par moi.";
}

a:link
{
    color: #291670; 
    text-decoration:none ;
    font-weight: normal; 
    font-family: "GeoEditRegular","Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Helvetica,Arial,sans-serif;
    font-size:small;
}

a:hover
{
    color:#27e64b;
    text-decoration:none ;
}

li
{
    color:#547390;
    list-style-position: outside;

}
